#head1 {
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #2b2b2b;
    text-align: center;
}

.head2 {
    font-size:15px;
    margin-bottom:15px;
    font-family: 'Arima Madurai', cursive;
}

.button {
    background-color: #efdccc; 
    border: none;
    color: black;
    padding: 18px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}
.topnav {
    background-color:#efdccc;
    overflow: hidden;
    height: 50px;
    text-align: center;
} 
body {
    background-color: #faf0e6;
}

.image1 {
    position: absolute;
    right: 50%;
    padding-left: 100%;
    padding-right: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #a39885;
    float: left;
}

.intro {
    color: black;
    position: absolute;
    left: 50%;
    
    font-size: 18.5px;
    background-color:#faf0e6;
    border-top: 150px solid #e3dcc0;
    border-bottom: 150px solid #e3dcc0;
    border-right: 150px solid #e3dcc0;;
    font-family: 'Arima Madurai', cursive;
}

.image2 {
    width: 100%;
    height:300px;
    object-fit: cover;
}

.aboutintro {
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
    margin-left: 100px;
    float: left;
}

.beige {
    color: #a47454;
    font-family: 'Comforter', cursive;
    font-size: 100px;
    margin: 0px;
    float: left;
}

.image3 {
    border-radius: 50px;
    border: 50px;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    position: absolute;
    left: 45%;
    top: 40%;
    width: 600px;
    height: 770px;
    
}
.quote {
    margin-top: 750px;
    margin-bottom: 100px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color:  #efdccc;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width:fit-content;
    align-content: center;
}

.bio {
    margin-top: 400px;
    margin-left: 100px;
    border-radius: 50px;
    padding: 50px;
    background-color: #a47454;
    width: 28%;
    font-family: 'Arima Madurai', cursive;
    color:#faf0e6;
    text-align: center;

}

.hobbies {
    margin-top: 120px;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
      
}
.hobbies::after {
    content: "";
    clear: both;
    display: inline-block;
}
.snow {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #a39885;
    box-sizing: border-box;
    height: 400px;
}

.journeytext {
    position: absolute;
    left: 33%;
    top: 40%;
    border-radius: 50px;
    padding: 50px;
    background-color:#e3dcc0;
    width: fit-content;
    font-family: 'Arima Madurai', cursive;
    color:#a47454;
    text-align: center;
    font-size: 40px;
}

.text {
    padding: 50px;
    background-color: #FFFFFF;
    width: fit-content;
    border: 1px;
}

.tools {
    position: absolute;
    left: 15%;
    top: 125%;
    border-radius: 50px;
    padding: 50px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 50px;
    background-color:#a47454;
    width: fit-content;
    font-family: 'Comforter', cursive;
    color:white;
    text-align: center;
}

.tips {
    position: absolute;
    left: 34.5%;
    top: 125%;
    border-radius: 50px;
    padding: 50px;
    font-size: 50px;
    background-color:#a47454;
    width: fit-content;
    font-family: 'Comforter', cursive;
    color:white;
    text-align: center;
}

.advice {
    position: absolute;
    left: 70%;
    top: 125%;
    border-radius: 50px;
    padding: 50px;
    font-size: 50px;
    background-color:#a47454;
    width: fit-content;
    font-family: 'Comforter', cursive;
    color: white;
    text-align: center;
}

.a {
    position: absolute;
    left: 15%;
    top: 150%;
    font-family: 'Arima Madurai', cursive;
}

.b {
    position: absolute;
    left: 70%;
    top: 125%;
    border-radius: 50px;
    padding: 50px;
    font-size: 50px;
    background-color:#a47454;
    width: fit-content;
    font-family: 'Comforter', cursive;
    color: white;
    text-align: center;
}
/*
div {
    background: red;
    height: 100px;
    width: 300px;
    display: inline;
}
span {
    background: greenyellow;
    height: 100px;
    width: 300px;
    display: block;

}
.special {
    color: red;
}
.special2 {
    background: black;
}

 a {
     color: black;
 }   

 section a {
     color: green;
 }
 
 .container {
     color: orange;
 }

 p {
     font-size: 12px;
 }

 p {
     font-size: 32px;
 }

 p{
     font-size: 50px!important;
 }
 p {
     font-family: monospace;
 }
 */