#head1 {
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #2b2b2b;
    text-align: center;
}

.head2 {
    font-size:15px;
    margin-bottom:15px;
    font-family: 'Arima Madurai', cursive;
}

.button {
    background-color: #efdccc; 
    border: none;
    color: black;
    padding: 18px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}
.topnav {
    background-color:#efdccc;
    overflow: hidden;
    height: 50px;
    text-align: center;
} 
body {
    background-color: #faf0e6;
}

.image1 {
    position: fixed;
    right: 50%;
    top: 300px;
    padding-left: 100%;
    padding-right: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #b8926B;
    float: left;
}

.intro {
    color: black;
    position: absolute;
    left: 50%;
    top: 300px;
    font-size: 18.5px;
    background-color:#faf0e6;
    border-top: 150px solid #a39885;
    border-bottom: 150px solid #a39885;
    border-right: 150px solid #a39885;;
    font-family: 'Arima Madurai', cursive;
}

.image2 {
    width: 100%;
    height:300px;
    object-fit: cover;
}

.aboutintro {
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
    margin: 100px;
    float: left;
}

.beige {
    color: #a47454;
    font-family: 'Comforter', cursive;
    font-size: 100px;
    margin: 0px;
    float: left;
}
.image3 {
    border-radius: 50px;
    border: 50px;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    position: absolute;
    left: 45%;
    top: 40%;
    
}




/*
div {
    background: red;
    height: 100px;
    width: 300px;
    display: inline;
}
span {
    background: greenyellow;
    height: 100px;
    width: 300px;
    display: block;

}
.special {
    color: red;
}
.special2 {
    background: black;
}

 a {
     color: black;
 }   

 section a {
     color: green;
 }
 
 .container {
     color: orange;
 }

 p {
     font-size: 12px;
 }

 p {
     font-size: 32px;
 }

 p{
     font-size: 50px!important;
 }
 p {
     font-family: monospace;
 }
 */